.homePageImg {
  width: 90%;
  margin-bottom: 32px;
}

.title {
  margin-top: 32px;
  margin-bottom: 32px;
}

.link {
  display: inline-block;
  font-weight: bold;
  margin: 32px;
  padding: 16px 32px;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  background-color: rgb(0, 0, 128);
  color: white;
}
