.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  width: 95%;
  padding: 16px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 32px;
  margin-top: 32px;
  padding: 64px;
}

.isLoadingSpinner {
  display: block;
  margin: 0 auto;
  border-color: black;
  position: fixed;
  left: 50%;
  top: 20%;
}

.menuItemImage {
  width: 800px;
  height: 600px;
  margin-top: 32px;
}

.rateHolders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rateItem {
  width: 50px;
  cursor: pointer;
}

.loginBtn {
  height: 45px;
  padding: 16px 64px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 0;
}

.loginBtn:hover {
  background-color: rgb(0, 0, 128);
  color: white;
}
